/* GENERAL */

body {
    background-color: #85929E !important;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* NAV */

#navbar-top {
    background-color: #5D6D7E;
}

#navbar-main a {
    font-size: 25px;
    color: #E67E22;
    text-decoration: none;
}

/* MAIN BODY */

#main-body {
    background-color: #95A5A6;
}

#title-card {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}

