/* GENERAL */

body {
    background-color: #85929E !important;
    background-image: url('../img/storage-placeholder.jpg') !important;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* NAV */

#navbar-top {
    background-color: #5D6D7E;
}

#navbar-main a {
    font-size: 25px;
    color: #E67E22;
    text-decoration: none;
}

/* MAIN BODY */

#main-body {
    height: 500px;
}

#title-card {
    /* margin-top: 200px; */
    width: 60%;
    padding: 30px;
    background-color: rgba(191, 201, 202, 0.726);  
    backdrop-filter: blur(20px);
    text-align: center;
    border-radius: 20px;
    /* top: 50%; */
    transform: translateY(50%);
}

#title-header {
    font-family: raleway, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
}

#title-subheader {
    font-family: raleway, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 35px;
}

#title-year {
    font-family: raleway, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 40px;
}

/* Contact */

#contact {
    background-color: #2c3e50;
    opacity: 1;
    color: white;
}

#contact-body {
    text-align: center;
}

input[type=text], input[type=email], input[type=submit], textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 1;
}

input[type=submit]{
    background-color: #0099ff;
    color: white;
    border: none;
}

input[type=submit]:hover {
    background-color: #26a8ff;
}